/* Carousel */


/* DTW blauw #00529c */

body {
    font-family: 'Quicksand', sans-serif;
    color: #292929;
}

.carousel-inner {
    height: 70%;
    width: auto;
}

.nav-link,
.navbar-brand {
    color: #00529c !important;
    font-weight: 600;
    transition: all 0.4s ease-in-out 0s;
}

.nav-link:hover {
    color: #DBE80C!important;
}

.bg-light {
    background-color: #cecfd0;
    padding: 0px 0px 0px 20px;
}

.header-toparea {
    background-color: #00529c;
    padding: 15px 0;
}

.header-topcontent {
    color: #DBE80C;
    padding: 5px 25px;
    font-family: 'Big Shoulders Text', cursive;
}

.section-banner {
    background-color: #DBE80C;
    color: #fff;
    font-family: 'Big Shoulders Text', cursive;
    font-weight: 500;
    min-height: 60px;
}

.section-blanco{
    min-height: 60px;
}

.section-title {
    margin-top: 5px;
}

.section-title h3 {
    margin-bottom: 10px;
    padding: 5px;
    position: relative;
}


/*.section-title h3::before {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    position: absolute;
    background: #fff;
    left: 0px;
    top: 50%;
    z-index: 0;
}*/


/*.section-title h3::after{
	content: "";
	display:block;
	width: 60px;
	height: 2px;
	position: absolute;
	background: #fff;
	right:0;
	top:50%;
	z-index:0;
}*/

h3 span {
    background: #DBE80C;
    color: #fff;
}

.text-center {
    text-align: center;
}

.section-about {
    display: block;
    margin-top: 30px;
    xborder: solid red 1px;
}

.section-about {
    padding: 5px 10px;
}

h2,
h3,
h4 {
    font-weight: 600;
}
h2{
    padding:5px 2px;
}
h3 {
    color: #DBE80C;
}

h2,
h4 {
    color: #00529c;
}

h4 {
    font-size: 1.2em;
}

.text-size {
    font-size: 0.9em;
    padding: 5px;
}

.text-left {
    xtext-align: left;
}

.section-about h2 {
    color: #00529c;
    font-size: 1.5em;
}

.dtw-service {
    background-color: #f7f7f7;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 30px 15px;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    transition: all 0.4s ease-in-out 0s;
    min-height: 250px;
    margin-bottom: 30px;
}

.dtw-service:hover {
    background-color: #00529c;
    color: #fff;
}

footer {
    background-color: #f7f7f7;
    min-height: 200px;
    border-top: 3px solid #ddd;
}

.subfooter-column {
    margin: 30px 0px 0px 10px;
}

.footer-copyright {
    background-color: #292929;
}

.copy-right {
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 0.9em;
}

.fa-phone.blue,
.fa-envelope.blue,
.fa-fax.blue,
p.blue,.blue {
    color: #00529c;
}

p.blue {
    font-weight: 500;
}

.page-banner {
    background: #f7f7f7 url(../../images/banner/dakraam-banner.png) no-repeat center;
    background-size: cover;
    min-height: 200px;
    width: 100%;
}

.page-title {
    color: #DBE80C;
}

.page-title h3 {
    font-size: 1.2em;
    padding-top: 150px;
    margin-left: 50px;
    font-family: 'Big Shoulders Text', cursive;
}

.banner-button {
    background: #00529c;
    width: 50%;
    padding: 5px 5px;
    border-radius: 4px;
    text-align: center;
    margin-top: 150px;
}

.banner-button h3 a {
    color: #fff;
    font-size: 0.5em;
    transition: all .2s linear;
}

.banner-button h3 a:hover {
    color: #DBE80C;
    text-decoration: none;
}

.first-page-content {
    margin-top: 20px;
}

.content h3 {
    color: #00529c;
    font-size: 1.2em;
}

.content-image {
    xbackground-color: #00529c;
    padding-top: 5px;
    opacity: 0.5;
}
/* Gallery */
.lightboxgallery-gallery {
    display: block;
    margin: 40px -10px 0px -10px;
  }
.lightboxgallery-gallery-item {
    cursor: zoom-in;
    display: block;
    float: left;
    xwidth: 25%;
  }

  .lightboxgallery-gallery-item img {
    width: 100%;
    height: auto;
  }
  .lightboxgallery-gallery-item.vertical-image{
      height: 50%;
  }

  .lightboxgallery-image{
      xwidth: 60%;
      height: auto;
  }
  
  .lightboxgallery-gallery-item > div {
    position: relative;
    margin: 10px;
  }
  
  .lightboxgallery-gallery-item > div:after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,.3) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,.3) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,.3) 100%);
    opacity: 0;
    -webkit-transition: opacity 400ms;
    transition: opacity 400ms;
  }
  
  .lightboxgallery-gallery-item:hover > div:after {
    opacity: 1;
  }
  
  .lightboxgallery-gallery-item-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    z-index: 2;
    opacity: 0;
    -webkit-transition: opacity 400ms;
    transition: opacity 400ms;
  }
  
  .lightboxgallery-gallery-item:hover .lightboxgallery-gallery-item-content {
    opacity: 1;
  }
  
  .lightboxgallery-gallery-item-title {
    display: block;
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 1.2;
    font-weight: bold;
    letter-spacing: 1px;
  }
  .btn.btn-primary{
      background:#00529c;
      transition: all 0.4s ease-in-out 0s;
  }

  .btn.btn-primary:hover{
      color:#DBE80C;
  }

  .fa-phone.green, .fa-globe.green, .fa-building.green {
      color:#DBE80C;
      font-size:3.5em;
  }

  .green{
      color:#DBE80C;
  }
  .green:hover{
    color:#DBE80C;
}