@media screen and (max-width: 576px) {
    .carousel-inner {
        width: 100%;
        height: auto;
    }
    .lightboxgallery-gallery-item {
        width: 80%;
      }
    .algemene-pagina{
        margin-left:10px;
    }
}